*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background-image: url(background.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    background: linear-gradient(to top, rgba(0,0,0,0.70)50%,rgba(0,0,0,0.70)50%);
    width: 100%;
    height: 75px;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    position: fixed;
    height: auto;
    float: left;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #f5d64a;
}

.search{
    width: 600px;
    float: left;
    margin-left: 300px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #f5d64a;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #f5d64a;
    border: 2px solid #f5d64a;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par{
    text-align: left;
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #f5d64a;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: #e6d8a0;
    font-size: 65px
}

.form{
    width: 400px;
    height: 420px;
    background: linear-gradient(to top, rgba(0,0,0,0.7)50%,rgba(0,0,0,0.7)50%);
    position: absolute;
    top: 98px;
    right: 700px;
    transform: translate(0%,-5%);
    border-radius: 15px;
    padding: 25px;
}

.form h2{
    width: 400px;
    font-family: sans-serif;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 400px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #f5d64a;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 22px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.form input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}

.btnn{
    width: 400px;
    height: 50px;
    background: #f5d64a;
    border: none;
    margin-top: 30px;
    font-size: 22px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn:hover{
    background: #fff;
    color: #f5d64a;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: #f5d64a;
}
.liw{
    font-size: 20px;
    padding-top: 23px;
    padding-bottom: 10px;
    text-align: center;
}
.icons{
    text-align: center;
    text-decoration: none;
    color: #fff;
}
.icons ion-icon{
    text-align: center;
    color: #fff;
    font-size: 30px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color: #f5d64a;
}